<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blog content</title>
  </head>
  <body>
    <h1>blog content</h1>
    <h3><%=content.title%></h3>
    <p><%=content.content%></p>
    <button id="list">go to list</button>
    <button id="update" data-doc="<%=content.no%>">update</button>
    <button id="delete" data-doc="<%=content.no%>">delete</button>
    <script src="/javascripts/list.js"></script>
  </body>
</html>
